* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.ide {
    display: grid;
    grid-template-columns: 220px 1fr 300px;
    height: 100vh;
}

/* File Explorer */

.file-explorer {
    background: #1e1e1e;
    color: white;
    border-right: 1px solid #333;
}

.panel-header {
    padding: 15px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.file-tree {
    padding: 10px;
}

.folder,
.file {
    padding: 7px;
    cursor: pointer;
}

.file:hover,
.folder:hover {
    background: #333;
}


/* Code Editor */

.code-editor {
    background: #181818;
    color: white;
    display: flex;
    flex-direction: column;
}

.editor-tabs {
    height: 40px;
    background: #252526;
    display: flex;
}

.tab {
    padding: 12px 20px;
    background: #1e1e1e;
}

.editor {
    display: flex;
    flex: 1;
}

.line-numbers {
    width: 50px;
    padding: 15px 10px;
    text-align: right;
    color: #666;
    background: #181818;
    line-height: 1.5;
}

.code-area {
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    background: #181818;
    color: white;
    padding: 15px;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.5;
}


/* AI Agent */

.agent {
    background: #202020;
    color: white;
    border-left: 1px solid #333;
    display: flex;
    flex-direction: column;
}

.chat {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.agent-message {
    background: #303030;
}

.agent-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #333;
}

.agent-input input {
    flex: 1;
    padding: 10px;
    background: #303030;
    color: white;
    border: 1px solid #444;
    outline: none;
}

.agent-input button {
    padding: 10px 15px;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;
}